[Unit]
Description=A service that calculates billiards shot information.

[Service]
User=root
WorkingDirectory=/app
ExecStart=/app/shots_api
Restart=always

[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
